* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: black;
    background: url("bg.jpg") no-repeat top center;
}


body {
    padding-top: 2rem;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: linear-gradient(#05ffa1, #b967ff, #fffb96);    
}

h1 {
    font-size: 4rem;
    padding: 1rem 0rem;
}

.spee {
    font-family: 'Roboto Mono', monospace;
    font-size: 6rem;
    font-style: italic;
    border: none;
    color: black;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 1px 5px rgba(0,0,0,0.1);
    background: none;
}

p {
    margin: 1.5rem 3rem 0rem 3rem;
}