/* Custom Animations */

@keyframes slideInFromTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bigLinkWiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Animations if reduced motion isn't enabled for user */
@media (prefers-reduced-motion: no-preference) {
    nav .contact:hover {
        animation: .75s ease 0s infinite bigLinkWiggle;
    }
    
    .hero h1,
    .hero p {
        animation: 0.25s ease-in 0s 1 slideInFromTop;
    }
    
    .hero img.portrait {
        animation: 0.75s ease-in 0s 1 slideInFromTop;
    }

    .hero button.big-link {
        animation: 1.25s ease-in 0s 1 slideInFromTop;
    }

    .hero a.big-link {
        animation: 1.5s ease-in 0s 1 slideInFromTop;
    }

    .individual-project:nth-of-type(odd) {
        animation: 0.25s ease-in 0s 1 slideInFromRight;
    }
    
    .individual-project:nth-of-type(even) {
        animation: 0.25s ease-in 0s 1 slideInFromLeft;
    }
}