/* Hero section styles */

.hero {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    column-gap: 2rem;
}

.hero p {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.hero .big-link {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.hero button:hover {
    transform: rotate(-2deg);
}