/* Navbar */

header {
    font-size: 1.5rem;
    background-color: var(--mid-blue);
    position: sticky;
    top: 0;
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    column-gap: 2rem;
    width: calc(100vw - 3rem);
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10rem;
    place-items: center;
    list-style: none;
}

nav a {
    color: var(--white);
    transition: text-decoration 0.75s;
    text-decoration: 0.5rem underline transparent;
}

nav li {
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 0.25rem;
}

nav .external:hover::after {
    content: url('../images/icons/external.png');
    width: 2rem;
}

.home {
    font-weight: 800;
    font-size: 4.5rem;
    text-decoration: none;
    margin-left: 2rem;
    place-self: start;
    transition: color 0.5s ease-out, text-shadow 0.25s ease-in-out;
}


.home:hover {
    color: var(--blue);
    text-shadow: 3px 3px var(--black);
}

.active {
    color: var(--white);
    font-weight: 800;
}

.active:hover {
    cursor: default;
}