/* Project section styles */

section.projects {
    grid-template-columns: 1fr 1fr;
}

section.projects h2 {
    grid-column: 1 / -1;
}

.individual-project {
    margin: 1rem 2rem;
    display: grid;
    border: 1px solid var(--white);
    border-radius: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 375px max-content 100px max-content;
    column-gap: 2rem;
    row-gap: 1rem;
}

.individual-project > * {
    place-self: center;
}

.individual-project h3 {
    place-self: center;
    grid-column: 1 / -1;
}

.individual-project .info p {
    font-size: 1.3rem;
}

.individual-project a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--blue);
    font-weight: 400;
}

.individual-project a:hover {
    color: inherit;
    text-decoration: underline var(--blue);
}

.project-links {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    place-content: space-evenly;
}

.project-links a {
    padding: 0.5rem 0.75rem;
    background: linear-gradient(#67b26f, #4ca2cd);
    outline: 2px solid black;
    box-shadow: 0 0 10px black;
    color: black;
    border-radius: 2rem;
}

.project-links a:hover {
    text-decoration: none;
    background: linear-gradient(#4ecdc4, #556270);
    outline: 3px solid black;
    box-shadow: 0 0 15px black;
    color: black;
}

/* Slideshow styles */

.slideshow {
    display: grid;
    grid-template-columns: 3rem 300px 3rem;
    grid-template-rows: 350px max-content;
    text-align: center;
    gap: 0.5rem;
}

.slideshow .images {
    display: none;
}

.slideshow img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.slideshow > a:focus,
.slideshow > a:hover {
    color: var(--white);
    background: var(--blue);
}

.slideshow .dot.active {
    background-color: var(--darkblue);
}

.slideshow .dot:hover {
    background-color: var(--blue);
}

.slide {
    grid-column: 2;
}

.slideshow .dots {
    display: flex;
    flex-direction: row;
    grid-column: 2;
    justify-content: center;
    gap: 0.5rem;
}

.slideshow .dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.slideshow .arrow {
    align-self: center;
    font-size: 6rem;
    padding: 0 0.25rem;
    cursor: pointer;
}

.arrow:hover {
    color: var(--blue);
}

/* Project Tag styles */

.tags {
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    gap: 1rem;
    place-content: center;
    place-items: center;
}

.tags span {
    padding: 0.5rem 0.75rem;
    text-align: center;
    background-color: var(--darkblue);
    border-radius: 1rem;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.75px;
    outline: 1px solid black;
    box-shadow: 0 0 5px black;
}

.tags span:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
    background-color: var(--blue);
}