/* Projects section styles */
.projects {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}

.individual-project {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content repeat(2, max-content);
    row-gap: 1rem;
    margin: 1rem 2rem;
    padding: 2rem;
    border: 3px solid var(--white);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px var(--white);
    scroll-snap-align: start;
    transition: background-color 0.25s ease-in-out;
}

.individual-project:hover {
    background-color: rgba(0,0,0,0.25);
}

.individual-project h2 {
    transition: color 0.5s ease-in-out;
    text-shadow: 3px 3px var(--black);
}

.project-links img {
    transition: transform 0.25s ease-in-out;
}

.project-links img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.projects-link a:hover::after {
    content: 'yo';
    border: 1px solid red;
    padding: 3rem;
}

/* Heading with title and links */
.header {
    grid-column: 1 / -1;
    grid-auto-flow: column;
    place-content: center;
    grid-template-columns: max-content 1fr;
    margin-bottom: 1rem;
}

.header .project-links {
    display: grid;
    grid-column: 2 / -1;
    justify-content: end;
    place-self: end;
    grid-auto-flow: column;
    place-items: center;
    gap: 2rem;
}

.individual-project section.details,
.individual-project section.development {
    gap: 1rem;
    place-self: start;
}

.details li {
    list-style: none;
}

.details li,
.development p {
    font-size: 1.3rem;
    line-height: 2.25rem;
}

/* Tag styles */

.tags {
    display: grid;
    grid-column: 1 / -1;
    grid-auto-flow: column;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    place-items: center;
    place-self: start;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.tags span {
    padding: 0.5rem 0.75rem;
    text-align: center;
    background-color: var(--darkblue);
    border-radius: 1rem;
    font-weight: 400;
    letter-spacing: 0.75px;
    outline: 1px solid black;
    box-shadow: 0 0 5px black;
}

.tags span:hover {
    box-shadow: 0 0 10px black;
    background-color: var(--mid-blue);
    outline: 2px solid black;
    cursor: default;
}