/* Manrope - Google Fonts */
/* Regular */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Regular.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Regular.woff') format('woff');
}
/* ExtraLight */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-ExtraLight.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
}
/* Light */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Light.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Light.woff') format('woff');
    font-weight: 300;
}
/* Medium */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Medium.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
}
/* SemiBold */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
}
/* ExtraBold */
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-ExtraBold.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
}
/* Charm - Google Fonts */
@font-face {
    font-family: 'Charm';
    src: url('../fonts/charm/Charm-Regular.woff2') format('woff2'),
         url('../fonts/charm/Charm-Regular.woff') format('woff');
}

/* Custom variables */
:root {
    --palette-darkest: #222831;
    --palette-dark: #393E46;
    --palette-light: #EEEEEE;
    --palette-color: #FFD369;

    --white: #F5F1ED; /* Isabelline */
    --black: #030104;
}

/* Default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    background-color: var(--black);
}

body {
    display: grid;
    grid-template-rows: max-content 1fr;
    color: var(--palette-light);
}

header {
    font-size: 1.5rem;
    background-color: var(--palette-dark);
    position: sticky;
    top: 0;
}

main {
    display: grid;
    margin: 1rem;
}

button {
    font-family: 'Manrope', sans-serif;
}

.hero,
.about,
.projects {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
}

hr {
    width: 100%;
    max-width: 20rem;
    place-self: center;
    height: 0.25rem;
    border-radius: 2rem;
    background-color: var(--palette-color);
    outline: none;
    border: none;
}

/* Default links */
a:active,
button:active {
    opacity: 0.75;
}

/* Large links i.e. 'Contact' and 'Projects' links, etc */
.big-link {
    text-align: center;
    text-transform: uppercase;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-items: center;
    place-content: center;
    gap: 1rem;
    height: 5rem;
    padding: 1rem 0;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    color: var(--palette-dark);
    background-color: var(--palette-color);
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
}

/* NavBar */
nav {
    display: flex;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    height: 6rem;
    max-height: 6rem;
}

nav ul {
    display: none;
    position: absolute;
    top: 0rem;
    font-size: 2rem;
    padding: 5rem 0 2.5rem 0;
    background-color: var(--palette-dark);
    list-style: none;
    overflow: hidden;
}

nav ul.open {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    place-items: center;
    row-gap: 2rem;
    z-index: 1;
    width: 100%;
    border-bottom: 3px solid var(--palette-darkest);
}

nav a {
    color: var(--palette-light);
    text-decoration: none;
}

nav ul li {
    padding: 0.25rem 0;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.25rem;
    color: var(--palette-light);
}

nav a.home {
    z-index: 2;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6rem;
    text-decoration: none;
    place-self: center start;
    padding-left: 1rem;
    font-family: 'Charm';
    height: 100%;
    position: relative;
    top: -.35rem;
}

.internal-link.active {
    font-weight: 800;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    text-decoration-line: underline;
    text-decoration-thickness: 0.6rem;
    text-decoration-color: var(--palette-color);
}

nav a.big-link {
    padding: 1rem;
    font-size: 1.5rem;
}

nav .burger {
    display: grid;
    grid-auto-flow: row;
    z-index: 2;
    gap: 5px;
    place-self: center end;
    border: none;
    background-color: transparent;
    padding: 1rem;
}

nav .burger span {
    width: 40px;
    height: 3px;
    background-color: var(--palette-light);
    border-radius: 2rem;
    pointer-events: none;
}

nav .burger.open span:nth-of-type(odd) {
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
}

nav .burger.open span:nth-of-type(even) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1, 0.1);
}

nav .burger.open span:nth-of-type(1) {
    transform: rotate(45deg);
}

nav .burger.open span:nth-of-type(3) {
    transform: rotate(-45deg);
}

/* Hero section */
.hero {
    grid-template-rows: repeat(5, max-content);
    row-gap: 1.5rem;
    padding-bottom: 2rem;
}

.hero h1 {
    text-align: center;
    width: 100%;
    font-size: 4.5rem;
    place-self: start;
}

.hero h1 span {
    display: block;
}

.hero p {
    font-size: 2.5rem;
}

.hero img.portrait {
    width: 50%;
    max-width: 300px;
    place-self: center;
    padding: 0.25rem;
    border: 0.5rem solid var(--palette-light);
    border-radius: 50%;
}

/* About section */
.about {
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;
}

.about p {
    font-size: 1.8rem;
    line-height: 4rem;
}

/* Projects section */
.projects {
    row-gap: 3rem;
}

.individual-project {
    display: grid;
    grid-auto-rows: max-content;
    place-self: center;
    row-gap: 1rem;
    border: 3px solid var(--palette-color);
    border-radius: 1rem;
    padding: 2rem;
}

.individual-project .big-link {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.individual-project .project-links ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.individual-project h2 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.individual-project h3 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    border-bottom: 3px solid var(--palette-color);
}

.individual-project .details,
.individual-project .development {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.individual-project .details ul {
    list-style: none;
}

.individual-project .details li::before {
    content: "\2e3A";
    color: var(--palette-light);
    padding-right: 1rem;
    font-weight: bold;
}

.individual-project .project-links {
    display: grid;
    place-content: center;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    width: 100%;
}

.individual-project .project-links h4 {
    font-size: 1.2rem;
    place-self: center;
    font-weight: 600;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.individual-project .project-links img {
    width: 100%;
}

.individual-project .details li,
.individual-project .development p {
    font-size: 1.2rem;
    line-height: 2.25rem;
}

/* Tag styles */
.individual-project ul.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.75rem;
    margin-bottom: 1rem;
    list-style: none;
}

.individual-project ul.tags li {
    padding: 0.5rem 0.75rem;
    text-align: center;
    border-radius: 3rem;
    font-weight: 400;
    letter-spacing: 0.75px;
    outline: 1px solid var(--palette-color);
}

.individual-project .slideshow {
    display: none;
    grid-template-columns: minmax(3.75rem, max-content) max-content minmax(3.75rem, max-content);
    grid-template-rows: max-content max-content;
    place-content: center;
    row-gap: 0.5rem;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.9);
}

.slideshow .images {
    display: none;
}

.slideshow .slideshow-close {
    position: absolute;
    padding: 1rem;
    top: 1rem;
    right: 1rem;
}

.slideshow img {
    object-fit: cover;
    width: 80vw;
    max-width: 700px;
    place-self: center;
    border-radius: 2rem;
    border: 3px solid var(--palette-light);
    padding: 0.5rem;
}

.slideshow .dot.active {
    background-color: var(--palette-darkest);
}

.slideshow .slide {
    grid-column: 2;
}

.slideshow .dots {
    display: grid;
    grid-column: 2;
    place-items: center;
    place-content: center;
    grid-auto-flow: column;
    gap: 0.5rem;
}

.slideshow .dot {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: var(--palette-light);
    cursor: pointer;
}

.slideshow .arrow {
    align-self: center;
    font-size: 6rem;
    cursor: pointer;
}

/* Fixed position gradient background */
.bg {
    background: linear-gradient(var(--palette-dark) 15%, var(--palette-darkest));
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

/* Transitions / cursor settings for any display which has a pointing device */
@media (hover) {
    *:hover {
        cursor: default;
    }

    a.home {
        transition: color 1s ease;
    }

    a.home:hover {
        transition: color 0.5s ease;
        color: var(--palette-color);
    }

    a:hover,
    button:hover,
    .burger:hover,
    .internal-link:hover:not(nav .internal-link.active) {
        cursor: pointer;
    }

    .internal-link,
    a:not(a.home):not(a.big-link) {
        transform: scale(1);
        transition: text-decoration 0.5s linear, transform 0.5s ease;
        text-decoration: 0.6rem underline transparent;
    }

    .internal-link:hover:not(.active):not(.home):not(.big-link),
    a:hover:not(a.home):not(a.big-link) {
        transition: text-decoration 0.5s linear;
        text-decoration: 0.6rem underline var(--palette-color);
    }
    
    .hero button:hover {
        transform: rotate(-1deg);
    }

    .big-link {
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    
    .big-link:hover:not(.slideshow .big-link) {
        cursor: pointer;
        outline: 4px solid var(--black);
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: rotate(1deg);
    }
        
    .burger:hover span {
        transition: transform 0.25s ease, background-color 0.5s ease;
        background-color: var(--palette-color);
    }
    
    .individual-project:hover {
        background-color: rgba(0,0,0,0.25);
    }

    .projects .tags li {
        transition: background-color 0.25s ease;
    }

    .slideshow .dot:hover {
        background-color: var(--palette-color);
    }
    
    .slideshow .arrow:hover {
        color: var(--palette-color);
    }
}

/* Animations if reduced motion isn't enabled for user */
@media (prefers-reduced-motion: no-preference) {

    /* Custom Animations */
    @keyframes mobileNavSlide {
        0% {
            max-height: 0vh;
        }
        100% {
            max-height: 100vh;
        }
    }

    @keyframes desktopNavSlide {
        0% {
            transform: translateX(-50%);
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fromBottom {
        0% {
            transform: translateY(1rem);
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes fromLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes fromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes scaleUp {
        0% {
            transform: scale(0.01);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .animation-scale-project {
        transform-origin: center;
        animation-name: scaleProject;
        animation-delay: 0s;
        animation-direction: forwards;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease;
    }

    .hero img.portrait {
        animation-name: scaleUp;
        animation-delay: 0s;
        animation-fill-mode: backwards;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
    }

    .hero h1,
    .hero p,
    .hero .big-link {
        animation-name: scaleUp;
        animation-fill-mode: backwards;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    .hero h1 {
        animation-delay: 0.1s;
    }
    
    .hero p {
        animation-delay: 0.2s;
    }
    
    .hero button.big-link {
        animation-delay: 0.3s;
    }

    .hero a.big-link {
        animation-delay: 0.4s;
    }

    nav ul.open {
        animation-name: mobileNavSlide;
        animation-delay: 0s;
        animation-fill-mode: backwards;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .individual-project {
        animation-name: scaleUp;
        animation-fill-mode: backwards;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    .about hr:nth-of-type(even) {
        animation-name: fromRight;
        animation-fill-mode: backwards;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

    .about hr:nth-of-type(odd) {
        animation-name: fromLeft;
        animation-fill-mode: backwards;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }
}

/* Big link hover wiggle */
@media (hover) and (prefers-reduced-motion: no-preference) {
    @keyframes bigLinkWiggle {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-1deg);
        }
        50% {
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(1deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    nav .contact:hover,
    .individual-project a:hover {
        animation: .75s ease 0s infinite bigLinkWiggle;
    }
}

/* Hero layout change for larger screens */
@media (min-width: 650px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        column-gap: 2rem;
        height: 80vh;
        place-content: center;
    }
    .hero img.portrait {
        grid-column: 1 / -1;
    }
    .hero h1 {
        grid-column: 1 / -1;
    }
    .hero h1 span {
        display: unset;
    }
    .hero p {
        grid-column: 1 / -1;
    }

    main {
        place-self: center;
        display: flex;
        max-width: 1000px;
    }
    .hero .big-link {
        margin-top: 2rem;
        grid-column: span 1;
    }
}

/* Projects layout change for larger screens */
@media (min-width: 800px) {
    .individual-project {
        grid-template-columns: 1fr 1fr;
    }

    .individual-project h2 {
        grid-column: 1 / -1;
    }

    .individual-project h3 {
        place-self: start;
    }

    .individual-project .project-links {
        grid-column: 1 / -1;
    }

    .individual-project .tags {
        grid-column: 1 / -1;
    }

    .individual-project .details,
    .individual-project .development {
        display: grid;
        gap: 1rem;
        margin: 0;
        place-content: start;
    }
}

@media (min-width: 1100px) and (prefers-reduced-motion: no-preference) {
    nav ul {
        animation-name: desktopNavSlide;
        animation-delay: 0.4s;
        animation-direction: forwards;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }
}

/* Nav becoming flex container instead of burger menu */
@media (min-width: 1100px) {
    nav ul {
        display: flex;
        width: 95%;
        flex-grow: 2;
        justify-content: end;
        align-items: center;
        position: relative;
        padding: 1rem;
        gap: 5rem;
        font-size: 1.3rem;
    }

    nav ul li {
        font-weight: 600;
    }

    nav ul :last-child {
        justify-self: end;
    }

    nav .burger {
        display: none;
    }

    nav a.big-link {
        padding: 2rem;
        height: 3rem;
        font-size: 1.3rem;
    }

    nav a {
        border-bottom: none;
    }

    nav a.external::after {
        padding: unset;
        content: none;
    }

    .individual-project {
        row-gap: 2rem;
    }

    .about {
        margin-top: 4rem;
    }
}

/* Increased Nav menu gap */
@media (min-width: 1500px) {
    nav ul {
        gap: 8rem;
    }
}